server {
    listen *;

    access_log $CACHE_LOGS_DIRECTORY/blizzard-access.log lancache-default buffer=128k flush=5s;
    error_log $CACHE_LOGS_DIRECTORY/blizzard-error.log;

    include upstreams/blizzard.conf;
}
