server {
    listen *;

    access_log $CACHE_LOGS_DIRECTORY/steam-access.log cache-key-uri buffer=128k flush=5s;
    error_log $CACHE_LOGS_DIRECTORY/steam-error.log;

    include upstreams/steam.conf;
}
